
nav{
    display: flex;
    flex-direction: column;
}
h1,h3{
    display: flex;
    justify-content: center;
}

label{
    display: flex;
    margin-left: 5rem;
    margin-top: 3rem;
    }
    
    input{
        display: flex;
        margin-left: 5rem;
        margin-top: 1rem;
    }
    
    #addToDoButton{
        display: flex;
        margin-left: 5rem;
        margin-top: 2rem;
    };

    